.gallery {
   width: 1240px;
   height: 829px;
   background: rgba(246, 246, 246, 1);
   border-radius: 25px;
   display: block;
   margin-right: auto;
   margin-left: auto;
   margin-top: 43px; 
   margin-bottom: 43px;
}

.gallery--card {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-row-gap: 350px; 
}

.card {
   display: flex;
   justify-content: center;
   text-decoration: none;
}

.card--img {
   position: absolute;
   width: 340px;
   height: 340px;
   border-radius: 25px;
   margin-top: 40px;  
   filter: brightness(95%);
   cursor: pointer;
}

.card--title {
   position: relative;
   top: 320px;
   font-size: 16px;
   line-height: 25.67px;
   color: whitesmoke;
   font-weight: 500;
   letter-spacing: -.1em;
}


@media screen and (max-width: 767.98px) {

   .gallery {
      width: 335px;
      height: 1706px;
      background: none;
      margin-top: 0px;
      margin-bottom: 10px;
   }
   
   .gallery--card {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 205px; 
   }

   .card--img {
      width: 335px;
      height: 255px;
      border-radius: 12px;
      margin-top: 12px;  
      filter: brightness(85%);
   }

   .card--title {
      top: 200px;
      font-size: 16px;
      line-height: 21.67px;
      width: 295.59px;
      height: 52px;
      word-wrap: break-word;
      letter-spacing:.06em;
   }
}
